*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0c0c0c;
  color:white;
  font-family:'Montserrat',sans-serif;
  text-align:center;
}

/* Header */
header{
  padding:30px 0;
}

.logo{
  font-family:'Cinzel',serif;
  font-size:32px;
  letter-spacing:4px;
  color:#d4af37;
}

/* HERO */
.hero{
  padding:60px 20px;
}

.arabic-title{
  font-family:'Cairo',sans-serif;
  font-size:48px;
  font-weight:700;
  color:#d4af37;
  margin-bottom:50px;
}

/* Perfume Image */
.hero-image img{
  width:400px;
  max-width:90%;
  border-radius:12px;
  box-shadow:0 20px 60px rgba(212,175,55,0.25);
  margin-bottom:30px;
}

/* Moving Offer Bar */
.offer-bar{
  background:black;
  overflow:hidden;
  white-space:nowrap;
  padding:18px 0;
}

.offer-track{
  display:inline-block;
  font-weight:700;
  font-size:18px;
  color:white;
  animation:scroll 45s linear infinite;
}

@keyframes scroll{
  from{transform:translateX(0);}
  to{transform:translateX(-50%);}
}

/* PRODUCTS */
.products-section{
  padding:80px 40px;
}

.section-title{
  font-family:'Cinzel',serif;
  font-size:32px;
  color:#d4af37;
  margin-bottom:60px;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:40px;
}

.card{
  background:#151515;
  padding:25px;
  border-radius:12px;
  transition:0.4s;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 20px 50px rgba(212,175,55,0.2);
}

.card img{
  width:100%;
  height:300px;
  object-fit:cover;
  border-radius:8px;
  margin-bottom:20px;
}

.card h3{
  font-size:20px;
  margin-bottom:10px;
}

.card p{
  color:#d4af37;
  font-size:16px;
  margin-bottom:20px;
}

button{
  padding:12px 30px;
  border:none;
  background:#d4af37;
  color:black;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:white;
}

/* Footer */
footer{
  padding:40px;
  background:black;
  margin-top:80px;
  font-size:14px;
}
